beautifulsoup4
demquery
fastkml
fiona
gdal
geojson
geopandas
gpxpy
jupyter
keplergl_quickvis
lxml
mercantile
mkdocs
mkdocs-material
networkx
numpy
opencage
osmnx
osxphotos
pandas
pint
pip
pygments
pyproj
pyshp
python-chromedriver-binary
python-dateutil
python-dotenv
python-language-server[all]
python>=3.6
pytz
rasterio
requests
scipy
selenium
shapely
supermercado
wikipedia
xlrd
